{% extends "base.html" %}
{% block title %}Number Facts{% endblock title %}

{% block content%}
    <div class="container-fluid">
        <h1>Welcome to the JavaScript Promises Exercise!</h1>
        <div class="col-6">
            <div class="list-group">
                <a href="numbers" class="list-group-item list-group-item-action">Number Facts</a>
                <a href="/cards" class="list-group-item list-group-item-action">Deck of Cards</a>
                <a href="/pokemon" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Pokemon</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock script %}